[user]
	name = CerealBoy
	email = allan.shone@yahoo.com
[alias]
	st = status
	ci = commit
	br = branch
	lg = log --no-merges --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[core]
	editor = vim
[push]
	default = simple
