[user]
	name = CerealBoy
	email = allan.shone@gmail.com
[alias]
	st = status
	ci = commit
	br = branch
	gl = log --no-merges --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	graph=log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	pf = push --force
	diff = icdiff
[core]
	editor = vim
[push]
	default = simple
[diff "sopsdiffer"]
	textconv = sops -d
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[commit]
	gpgsign = true
[rebase]
	updateRefs = true
[init]
	defaultBranch = main
