[submodule "powerline/fonts"]
	path = powerline/fonts
	url = git@github.com:powerline/fonts.git
[submodule "powerline/shell"]
	path = powerline/shell
	url = git@github.com:banga/powerline-shell.git
[submodule "git-heatmap"]
	path = git-heatmap
	url = git@github.com:jez/git-heatmap.git
