[user]
	name = allans
	email = allans@yahoo-inc.com
[alias]
	st = status
	ci = commit
	br = branch
	lg = log --no-merges --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[core]
	editor = vim
[url "git@git.corp.yahoo.com:"]
	insteadOf = https://git.corp.yahoo.com/
[push]
	default = simple
