set editing-mode vi
set show-mode-in-prompt on

set keymap vi-insert
Control-l: clear-screen

"\e[A": history-search-backward
"\e[B": history-search-forward
set show-all-if-ambiguous on
set completion-ignore-case on
